**/__pychache__
*.pyc
.DS_Store
docker-compose.yml
.HA_VERSION
home-assistant/tts
home-assistant/deps
home-assistant/image
home-assistant/.storage
home-assistant/.cloud
home-assistant_v2.db
home-assistant.log
.shopping_list.json
options.xml
secrets.yaml
zwcfg_*
uis-lovelace.yaml
mosquitto/config/passwd
mosquitto/data
mosquitto/log
appdaemon/logs
appdaemon/dashboards
home-assistant/www/person_pictures/
known_devices.yaml
appdaemon/namespaces/
index-1.html
ha-dockermon/
grafana/
influxdb/
influxdb2/
unifi-poller/
portainer/
home-assistant-db/
esphome/
swag/
nextcloud/
wud/
music/
tmp/
media/
.vs/
snapserver/snapfifo/
check_docker_latest.sh
check_docker_list.txt
*.conf
!*mopidy.conf
mopidy/local
mopidy/music
!snapserver_example.conf