**/__pychache__
*.pyc
.DS_Store
docker-compose.yml
.HA_VERSION
home-assistant/tts
home-assistant/deps
home-assistant/.storage
home-assistant/.cloud
home-assistant_v2.db
home-assistant.log
options.xml
secrets.yaml
zwcfg_*
mosquitto/config/passwd
appdaemon/logs
appdaemon/dashboards
scratch
home-assistant/www/person_pictures/
